<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.com.example.fredglozman.soccerscorekeepingmobile">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LiveScorekeeping"
            android:label="@string/title_activity_live_scorekeeping" />
        <activity
            android:name=".PlayerAnalysis"
            android:label="@string/title_activity_player_analysis" />
        <activity
            android:name=".LeagueAnalysis"
            android:label="@string/title_activity_league_analysis" />
        <activity
            android:name=".Authentication"
            android:label="@string/title_activity_authentication" />
        <activity
            android:name=".LeagueConfiguration"
            android:label="@string/title_activity_league_configuration" />
        <activity
            android:name=".CreateTeam"
            android:label="@string/title_activity_create_team" />
        <activity
            android:name=".RemoveTeam"
            android:label="@string/title_activity_remove_team" />
        <activity
            android:name=".RemovePlayer"
            android:label="@string/title_activity_remove_player" />
        <activity
            android:name=".LiveGame"
            android:label="@string/title_activity_live_game" />
        <activity
            android:name=".MatchFullData"
            android:label="@string/title_activity_match_full_data" />
        <activity
            android:name=".BatchInput"
            android:label="@string/title_activity_batch_input" />
        <activity
            android:name=".StartTimeInput"
            android:label="@string/title_activity_time_input" />
        <activity
            android:name=".EndTimeInput"
            android:label="@string/title_activity_end_time_input" />
        <activity
            android:name=".DateInput"
            android:label="@string/title_activity_date_input" />
        <activity
            android:name=".AddPlayer"
            android:label="@string/title_activity_add_player"></activity>
    </application>

</manifest>
